* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

h1 {
  text-align: center;
  font-size: 1.75em;
}


box{
  width: 135px;
  height: 45px;
  padding: 6px;
  margin-right: -11px;
  margin-top: -51px;
  border: 1px solid black;
  font-size: 1.25em;
  text-align: center;
  float: right;
  position: relative;
  overflow: none;
}

p {
  margin: 20px;
  height: auto;  
  background-color: #808080;
  border: 1px solid black;
  position: relative;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: none;
}

#b1{
  background-color: #03FCB1;
}

#b2 {
  background-color: #FC0373;
}

#b3 {
  background-color: #FC4503;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,
  .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%; 
  }
}


